<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>LeaveManagement</display-name>
  <welcome-file-list>
    <welcome-file>main.html</welcome-file>
  </welcome-file-list>
  
   <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.j32bit.leave.servlet.LoginServlet</servlet-class>    
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>com.j32bit.leave.servlet.LogoutServlet</servlet-class>    
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  
  
  	<!-- ContextListener -->
	<listener>
		<listener-class>com.j32bit.leave.listener.ContextListener</listener-class>
	</listener>
  
  
  <security-constraint>
		<web-resource-collection>
			<web-resource-name>Leave Management Authentication</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
			<role-name>projectManager</role-name>
			<role-name>employee</role-name>
		</auth-constraint>
		
	<user-data-constraint>
	
	
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
  
	
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/login.html</form-error-page>
		</form-login-config>
	</login-config>
	
	
	 <servlet>  
    <servlet-name>Leave Management</servlet-name>  
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>  
    <init-param>  
        <param-name>jersey.config.server.provider.packages</param-name>  
        <param-value>com.j32bit.leave.rest</param-value>  
    </init-param>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>Leave Management</servlet-name>  
    <url-pattern>/rest/*</url-pattern>  
  </servlet-mapping> 
  
</web-app>
